.coupleOnCouch{
    width: 80%;
}

.row .headerText{
    padding: 50px;
}

.row h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 52px;
}

.headerTextBox{
    padding: 100px;
}

.search{
    color: #2b2b2b; 
    background-color: #ECEBEF;
    width: 70%;
    border-radius: 30px;
    float: left;
}

.search input, .search input:active, .search input:hover ,select, [type="text"]{
    color:#2b2b2b;
    background-color: #ECEBEF;
    height:40px;
    margin-right: 30px;
    outline: none;
    cursor: pointer;
    outline: none;
    border: none;

}
[placeholder="Search..."]{
    padding-left: 15px;
 
}

.search img{
    height: 25px;
    margin-left: 10px;

}
input{

    width: 70%;
}
.search input{
    outline: none;
    border: none;
}

/*About Section*/
.mockUp{
    width: 600px;
}

.about{
    background-color: #2b2b2b;
    margin-top: 100px;
}

.aboutTextBox{
    color: white;
    padding: 100px;
}

/*Popular movies section*/

.popularMovies{
    margin-top: 50px;
}

/*Review Section*/

.reviews{
    margin-top: 50px;
    margin-bottom: 50px;
}