/*Text*/
.row h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  
}

.row h2,.row h3,.row h4,.row h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  
}
body{
  font-family: 'Open Sans', sans-serif;
}
h6{
  font-size: 15px;
}
/*container*/
.Block {
  margin-top: 35px;
  width: 0 auto;
  height: 700px;
  background-color: rgb(53, 53, 53);
}

.blockBottom {
  width: 0 auto;
  height: 400px;
  background-color: white;
}

/*Movie Information*/
.movie-info{
  padding:80px;
}

.image-block,
.movie-info {
  float: left;
  width: 50%;
  color: white;
}

.movie-info h2{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.image-block {
  text-align: center;
  padding-top: 17%;
}
.image-block img {
  width: 36%;
  height: auto;
}
.movie-rating p {
  display: inline;
  margin-right: 10px;
}
.movie-rating  {
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  padding: 10px;
  height: 70px;
  margin-top: -10px;
}
.movie-rating.two{
  border-bottom: none;
  border-bottom: 2px solid white;
  height: 120px;
}
.movie-date,
.movie-genre {
  
  float: left;
  width: 50%;
}
.btnGenre {
  width: 60px;
  text-align: center;
  border: 2px solid white;
  border-radius: 15px;
  margin: 3px;
  padding: 2px;
  float: left;
  display: inline;
}
.movie-watch {
  margin: 20px;
}

.blockBottom {
  padding: 17px;
}

/*Tablet*/
@media screen and (max-width: 567px) {
  .image-block,
  .movie-info {
    float: none;
  }
  .image-block {
    width: 100%;
    height: 300px;
    padding: 5%;
    padding-top: 0px;
  }
  .image-block img {
    width: 100%;
  }
  .movie-info {
   
    width: 100%;
    background-color: white;
    color: #2b2b2b;
    margin-top: 10px;
    height: 700px;
  }
  .row h2,.row h3,.row h4,.row h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  .blockBottom {
    display: none;
  }
  .resize {
    height: 23px;
  }
 
}

/*Media Q = md + sm screen */
@media screen and (max-width: 1024px) {
  .image-block,
  .movie-info {
    float: none;
  }
  .image-block {
    width: 100%;
    height: 300px;
    padding: 5%;
    padding-top: 0px;
  }
  .image-block img {
    width: 53%;
  }
  .Block {
    height: fit-content;
    background-color: none;
  }
  .row h2,.row h3,.row h4,.row h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  .movie-info {
    width: 100%;
    background-color: white;
    color: #2b2b2b;
    margin-top: 10px;
    height: 700px;
  }
  .movie-rating  {
    border-bottom: 2px solid #2b2b2b;
  }
  .movie-rating.two{
    border-bottom: 2px solid #2b2b2b;
  }

  .btnGenre {
  
    border: 2px solid #2b2b2b;
   
  }
}

@media only screen and (min-width: 992px) {
}
