/*header*/

.libraryHeader h1{
    margin-top: 50px;
}

.libraryHeader{
    padding: 30px;
}
.libraryHeaderText{
    width: 800px;
    margin: 0 auto;
    text-align: center;
   
}


.row h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 52px;
}

.row h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 42px;
    
}

/*search bar*/

.search{
    color: #ffffff; 
    background-color: #2b2b2b;
    width: 327px;
    border-radius: 30px;
    
}

.search input, .search input:active, .search input:hover ,select, [type="text"]{
    color:#ffffff;
    background-color: #2b2b2b;
    height:40px;
    margin-right: 30px;
    outline: none;
    cursor: pointer;
    outline: none;
    border: none;

}
[placeholder="Search..."]{
    padding-left: 15px;
    color: lightgray;
 
}

.search img{
    height: 25px;
    margin-left: 10px;

}
input{

    width: 70%;
}
.search input{
    outline: none;
    border: none;
}

.libraryHeader{
    text-align: center;
}

/*select options*/
select{
    color: #2b2b2b;
    background-color: #EEEEEE;
    width: 200px;
    border-radius: 30px;
    padding-left:15px;
    border: 1px solid #2b2b2b;
   float: right;
     
}
#ratingCheck {
    word-wrap: normal;
    margin-left: 20px;
}

.selectBox{

    padding-right: 50px;

}

/*movie card*/
/* .center{

} */
.movieList{
    width: 1500px;
    height: 450px;
    margin-left: 100px;
    overflow: hidden;
    position: relative;
}

.movie-insert{
/* width: 10000px; */
height: 350px;
margin: 10px auto;
display: inline;
overflow-x: auto;
float: left;
}
.movie-insert::-webkit-scrollbar{
    visibility: hidden;
}

.buttons{
    position: absolute;
    margin-top: 135px;
}
[src="../img/other/left_arrow_icon.svg"]{
    margin-left: 20px;
}

[src="../img/other/right_arrow_icon.svg"]{
    margin-left: 1400px;
}


.movieCard{
    width: 286px;
    height: 350px;
    position: relative;
    left: 0;
    transition: 0.5s;
    /* display: inline; */
    /* float: left; */
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  }

  /*heart icon*/
  .divheart{
      width: 60px;
      float: right;
      margin-top: 10px;
      margin-right: 20px;
      cursor: pointer;
  }

  .hover-text{
     padding-top: 90px;
  }

  .row h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    
}
.row h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    
}

.movieButton{
    
    width: 170px;
  border-radius: 25px;
    font-size: 14px;
    margin-top: 15px;
    
}

/*Media Query*/
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){

    .row h1{
        font-size: 48px;
        text-align: center;
    
    }

    .row h2{
        font-size: 36px;
        text-align: center;
    
    }

    .row p{
        font-size: 14px;
        text-align: center;
    }
    footer{
        padding-left: 0px;
        margin-left: -300px;
 
    }
    
    #ratingCheck {
        width: 150px;
        float: left;
        margin-left: 130px;
    }
    #year{
        width: 150px;
        float: left;
        margin-left: 10px;
    }
    .filters{
        margin: 0 auto;
    }
    
}

/*Mobile*/
@media only screen and (max-width: 500px){

    .row h1{
        font-size: 38px;
        text-align: left;
    }
    .row h2{
        font-size: 32px;
        text-align: left;
    }
    .row p{
        font-size: 12px;
        text-align: left;
    }
    #ratingCheck {
        font-size: 12px;
        width: 130px;
        margin-left: 0px;
        
    }
    #year{
        width: 130px;
        font-size: 12px;
        margin-left: 10px;
    }
    .search{
        
        width: 320px;
       margin-top: 10px;
        float: left;
        
        
    }
  
}


