/*header*/

.libraryHeader h1{
    margin-top: 50px;
}

.libraryHeader{
    padding: 30px;
}
.libraryHeaderText{
    width: 800px;
    margin: 0 auto;
    text-align: center;
   
}


.row h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 52px;
}

/*search bar*/

.search{
    color: #ffffff; 
    background-color: #2b2b2b;
    width: 327px;
    border-radius: 30px;
    
}

.search input, .search input:active, .search input:hover ,select, [type="text"]{
    color:#ffffff;
    background-color: #2b2b2b;
    height:40px;
    margin-right: 30px;
    outline: none;
    cursor: pointer;
    outline: none;
    border: none;

}
[placeholder="Search..."]{
    padding-left: 15px;
    color: lightgray;
 
}

.search img{
    height: 25px;
    margin-left: 10px;

}
input{

    width: 70%;
}
.search input{
    outline: none;
    border: none;
}

.libraryHeader{
    text-align: center;
}

/*select options*/
select{
    color: #2b2b2b;
    background-color: #EEEEEE;
    width: 200px;
    border-radius: 30px;
    padding-left:15px;
    border: 1px solid #2b2b2b;
   float: right;
   
   
}

.selectBox{

    padding-right: 50px;

}