*{
    margin: 0 auto; 
}

/*Fonts*/
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    
}
body{
    font-family: 'Open Sans', sans-serif;
}

/*container*/
.container-fluid {width:100%;max-width:none ;padding-left:0;padding-right:0}

/*Navigation*/
/*Header*/
.logo img{
    width: 80px;
    margin-left:80px;
    margin-top: 15px;
 }
  
 .header a, .header li {
     font-family: 'Inter', sans-serif;
     color: #2b2b2b;
     text-decoration: none;
     list-style-type: none;
     display: inline;
     padding-left: 30px;
 }
 .header .list{
     display: inline;
 }
 
 .header li:hover{
     color: #5D5FEF;
 }
 .header a:hover{
    text-decoration: none;
}
 
 .nav-container{
     padding:20px;
     margin-top: -60px;
     margin-left:100px;
 }

 .active{
     font-weight: bold;
     color: #5D5FEF;
 }
 
 /*Buttons*/
 .button1{
     background-color: #5D5FEF;
     color: white;
     border-radius: 20px;
     text-align: center;
     width: 200px;
     padding:10px;
     cursor: pointer;
 }

 .buttons{
    width: 80px;
    cursor: pointer;

}
.buttons:hover, .button1:hover{
    opacity: 70%;
}

/*footer*/
footer{
    margin-top: auto;
    padding: 20px;
    padding-left: 50px;
    background-color: #2b2b2b;
}

footer p{
    font-family: 'Inter', sans-serif;
    color: white;
    padding-top: 20px;
    font-size: 20px;

}
footer img{
    float:right;
    width: 65px;
    padding: 10px;
    margin-top: -60px;

}



.row h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 52px;
}
