
/* WATCH LATER HEADING STYLING */
/* .row{
    width: 800px;
    margin: 0 auto;
} */

.row .watchLaterHeading{
    padding: 30px;
}


.textWatchLater{
    width: 800px;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}

/* SEARCH BAR STYLING */
/* search bar */
.search{
    color: #2b2b2b; 
    background-color: #ECEBEF;
    width: 327px;
    border-radius: 30px;
}

/* input */
.search input, .search input:active, .search input:hover ,select, [type="text"]{
    color:#2b2b2b;
    background-color: #ECEBEF;
    height:40px;
    margin-right: 30px;
    outline: none;
    cursor: pointer;
    outline: none;
    border: none;

}
[placeholder="Search..."]{
    padding-left: 15px;
 
}

input{
    width: 70%;
}
.search input{
    outline: none;
    border: none;
}

/* search icon */
.search img{
    height: 25px;
    margin-left: 10px;
}

/* WATCH LATER MOVIES STYLING */

/* watch later movie heading and buttons */
.watchLaterMovies{
    margin-top: 50px;
    padding: 50px;
}