* {
    margin: 0;
    padding: 0;
}
 
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 
.outer-container{
    width: 100%;
}

/* WATCH LATER HEADING STYLING */
.heading h2{
    padding: 20px;
    left: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 42px;
}
/* SECTIONS */
/* .carousel{ section (eg: comedy)
    height: 420px;
    width: 95%;
    position: relative;
    margin: 0 auto;
}
 
.carouselbox{
    height: 380px;
    width: auto;
    /* overflow-x: auto; 
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
} */

.row h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 52px;
}

.textWatchLater{
    margin: 0 auto;
    padding: 100px;
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: center;
}

/* SEARCH BAR STYLING */
/* search bar */
.search{
    color: #2b2b2b; 
    background-color: #ECEBEF;
    width: 327px;
    border-radius: 30px;
}

/* input */
.search input, .search input:active, .search input:hover ,select, [type="text"]{
    color:#2b2b2b;
    background-color: #ECEBEF;
    height:40px;
    margin-right: 30px;
    outline: none;
    cursor: pointer;
    outline: none;
    border: none;

}
[placeholder="Search..."]{
    padding-left: 15px;
 
}

input{
    width: 70%;
}
.search input{
    outline: none;
    border: none;
}

/* search icon */
.search img{
    height: 25px;
    margin-left: 10px;
}

/* WATCH LATER MOVIES STYLING */
/* SLIDER */
/* BUTTONS CLICK TO SLIDE */
 
.buttons{
    width: 50px;
    position: absolute;
   top: 40%;

}

[src="../img/other/left_arrow_icon.svg"]{
    /* margin-left: 100px; */
    left: -25px;
}
 
[src="../img/other/right_arrow_icon.svg"]{
    /* margin-left: 1400px; */
    left: 100%;
}
.buttons:hover{
    cursor: pointer;
    opacity: 0.7;
}
 
 
    
/* MOVIE CARD */
/* .movieCard{
    min-width: 250px;
    max-width: 250px;
    height: 343px;
    border-radius: 20px;
    position: relative;
    left: 0;
    text-align: center;
    margin-left: 20px;
    color: black;
    transition: 0.5s; */
 
    /* shadow */
    /* box-shadow: 13px 11px 20px -2px rgba(0,0,0,0.16);
    -webkit-box-shadow: 13px 11px 20px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 13px 11px 20px -2px rgba(0,0,0,0.16);
} */
/*Movie cards*/
/* .movieImg{
    height:343px;
    width: 250px;
    position: absolute;
    z-index: -1;
    border-radius: 20px;
    margin-left: -125px;

} */

.hover-text h6 {
    width: 220px;
    margin: 0 auto;
    white-space: initial;
    overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding-bottom: 10px;
}

/*hover*/
.overlayBlock{
    opacity:0;
   
}

.overlay{
    background-color:rgba(0,0,0,0.8);
    height:343px;
    width: 250px;
    color: white;
    border-radius: 20px;
    
   
    
}

.overlayBlock:hover{
    opacity:1;
    cursor: pointer;
  
    
}
  /*heart icon*/
  .divheart{
    display: none;
  }
 
  .hover-text{
     padding-top: 90px;
  }
 
.row h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    
}
 
.movieButton{
    margin: 0 auto;
    width: 120px;
    height: 40px;
    padding: 10px;
    padding-top:7px;
    border-radius: 25px;
    font-size: 14px;
    margin-top: 15px;
    
    
} 


/*Media Query*/
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){

   
    .row h1{
        font-size: 42px;
        text-align: center;
    
    }
    .row h2{
        font-size: 36px;
        text-align: center;
    
    }
    .row p{
        font-size: 14px;
        text-align: center;
    }
    footer{
        padding-left: 0px;
        margin-left: -300px;
 
    }

    .buttons{
        display: none;
     
     }
     
     [src="../img/other/left_arrow_icon.svg"]{
         /* margin-left: 100px; */
         visibility: hidden;
     }
      
     [src="../img/other/right_arrow_icon.svg"]{
         /* margin-left: 1400px; */
         visibility: hidden;
     }

    /* .carouselbox{
        overflow-x: scroll;
        scroll-behavior: smooth;
        
    } */
}

/*Mobile*/
@media only screen and (max-width: 500px){

    .row .watchLaterHeading{
        padding: 0px;
    }
    .textWatchLater{
        margin: 0 auto;
        padding: 42px;
       
        
    }
    .row h1{
        margin-top: 0px;
        font-size: 38px;
        text-align: left;
    }
    .row h2{
        font-size: 32px;
        text-align: left;
    }
    p{
        font-size: 12px;
        text-align: left;
    }
    .search{
        color: #ffffff; 
        background-color: #2b2b2b;
        width: 320px;
        margin-top: 10px;
         float: left;
         
       
    }
    
    .search input, .search input:active, .search input:hover ,select, [type="text"]{
        color:#ffffff;
        background-color: #2b2b2b;
        
    
    }

    .buttons{
        display: none;
     
     }
     
     [src="../img/other/left_arrow_icon.svg"]{
         /* margin-left: 100px; */
         visibility: hidden;
     }
      
     [src="../img/other/right_arrow_icon.svg"]{
         /* margin-left: 1400px; */
         visibility: hidden;
     }

    /* .carouselbox{
        overflow-x: scroll;
        scroll-behavior: smooth;
        
    } */
}